#main{
	width: 100%;
	justify-content: space-around;
}
.card{
	width: 30%;
	background-color: #aaa;
	text-align: center;
	margin: 0 auto
	border: 1px solid #aaaaaa;
	border-radius: 30% 0;
	box-shadow: 6px 6px 6px 3px;
}
.card>img
{
 width: 50%;
 height: 50%;
}