body{
	background-color: #91DDAA;
}
.main{
	background-color: pink;
	margin: 2%;
	display: flex;
	justify-content:space-around;
	border-radius: 4%;
	border: 2px solid;

	

}
.left{
	background-color: red;
	border: 5px solid black;
	
}